{% extends "layout.html" %}
{% block body %}

<div class="block1">
  <div class="titulo">
    
    <img style="width: 20%;" src="http://3.bp.blogspot.com/_WvACVGW1iPE/TQQyMLaXOqI/AAAAAAAABgQ/uyLL8lBS38I/s1600/adorno-navidad-1.gif">
    <h1>Hola {{name_1}}!</h1>
    <img style="width: 20%;" src="http://3.bp.blogspot.com/_WvACVGW1iPE/TQQyMLaXOqI/AAAAAAAABgQ/uyLL8lBS38I/s1600/adorno-navidad-1.gif">
  </div>

  <p>En este dia te quiero decir: </p>
  <p class="block2">
"Cuando le queden pocos segundos a este año que termina, cierra los ojos y pide un deseo, que yo haré lo mismo. Mi deseo es que todos los tuyos se cumplan"
  </p>
  <p class="atte">Me despido con un fuerte abrazo, atentamente {{name}}</p>
<img class="feliz" src="http://www3.gobiernodecanarias.org/medusa/edublogs/iesichasagua/files/2014/12/feliz-navidad-gif-04.gif">
</div>

<div class="block3" >
<img src="https://www.gifsanimados.org/data/media/1082/reno-de-navidad-imagen-animada-0014.gif">
<img src="https://www.gifsanimados.org/data/media/1082/reno-de-navidad-imagen-animada-0014.gif">
<img src="https://www.gifsanimados.org/data/media/1082/reno-de-navidad-imagen-animada-0014.gif">
</div>
<center>@Ensured</center>

{% endblock %}